<div class="col-md-6"> 
<br><br>
	<h4>Log in</h4>
	<hr>
	<div class="row" id="auth">
	<div class="col-sm-6">
		<img src="http://goo.gl/0GRD5a"><br><br>
		<a href="/auth/login/facebook" class="btn btn-primary">Login with Facebook</a>
		<hr>
		<form class="form" method="POST" action="/auth/login">
			<input type="text" class="form-control" placeholder="Enter your email" name="email"> <br><br>
			<input type="password" class="form-control" placeholder="Enter your password" name="password"><br><br>
			<input type="submit" value="Log in" class="btn btn-primary">
		</form>
	</div>
	<div class="col-sm-6">	
		<h1>Sign Up Today!</h1>
		<hr>
		<form class="form" method="POST" action="/auth/signup">
			<input type="text" class="form-control" placeholder="Enter your email" name="email"><br><br>
			<input type="text" class="form-control" placeholder="Enter your name" name="name"><br><br>
			<input type="password" class="form-control" placeholder="Choose a password" name="password"><br><br>
			<input type="password" class="form-control" placeholder="Re-type password" name="password2"><br><br>
			<input type="submit" value="sign up" class="btn btn-primary">
		</form>
	</div>
		<br><br>
	</div>
</div>