<a href="<%= lastPage %>">Back</a> 
<h2>Notification</h2>

<% activities.forEach(function(activity){ %>
<div class="well">
	<a href="/posts/<%= activity.postId %>/comments"><p><%= activity.fromUser %> <%= activity.type %>ed on your post</p></a>
</div>
<% }); %>