<form action="/movies" method="GET" role="form">
  <legend></legend>

<% if (currentUser) { %>
  <div class="form-group">
    <label for="">Search</label>
    <input type="text" class="form-control" id="" placeholder="" name="term">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% } else { %>
<h2>Please login</h2><br>
<div>
<a href="/auth/login" class="btn btn-primary">Login</a>
<a href="/auth/signup" class="btn btn-success">Signup</a>
</div>
<% } %>

<a href="#my_modal" data-toggle="modal" data-book-id="my_id_value">Open Modal</a>
<script>
	//triggered when modal is about to be shown
$('#my_modal').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var bookId = $(e.relatedTarget).data('book-id');

    //populate the textbox
    $(e.currentTarget).find('input[name="bookId"]').val(bookId);
});
</script>