<form action="/movies" method="GET" role="form">
  <legend></legend>

<% if (currentUser) { %>
  <div class="form-group">
    <label for="">Search</label>
    <input type="text" class="form-control" id="" placeholder="" name="term">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% } else { %>
<h2>Please login</h2><br>
<div>
<a href="/auth/login" class="btn btn-primary">Login</a>
<a href="/auth/signup" class="btn btn-success">Signup</a>
</div>
<% } %>