<h1>Comments for <%= favorite.title %></h1>

<% comments.forEach(function(comment) { %>
  <div class="well">
    <p><%= comment.text %></p>
    <p><strong><%= comment.author %></strong></p>
  </div>
<% }); %>

<form action="" method="POST" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="" name="comment">
  </div>

  <button type="submit" class="btn btn-primary">Comment</button>
</form>