body {
	margin: auto 0;
}

h1, h2, h3 {
	font-family: 'Sansita One';
}
#this2,#this3 {
	display: none;
}
.login-fb {
	position: inline-block;
	text-align: center;
}

.fb_img {
 	position: relative;
}


.well {
	padding: 20px;
	width: 550px;
	font-size: 15px;
	font-family: 'Fjalla One';
}

#auth {
	width: 700px;
}

.postImg {
	width: 500px;
}

.post {
}

.navbar-brand img {
	height: 30px;
	padding: 0px;
}

.navbar-header {
	height: 60px;
}

.navbar-nav {
	font-size: 22px;
	font-family: 'Sansita One';
	vertical-align: middle;
}