<% activities.forEach(function(comment) { %>
  <div class="well">
    <p><%= comment.content %></p>
    <p><strong><%= comment.fromUser %></strong></p>
  </div>
<% }); %>

<form action="" method="POST" role="form">
  <legend>Create a new Comment</legend>
  <div class="form-group">
    <label for="">Comment</label>
    <input type="text" class="form-control" id="" name="comment">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>